.container-table {
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-table {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 8px 18px -5px rgba(0,0,0,0.28);
}

.table-title {
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 15px;
}